body {
    font-family: Verdana, Arial, Helvetica, sans-serif;

}

main {
    text-align: center;
    display: flex;
}
aside {
    width: 15%;
    padding-top: 4rem;

}

section {
    width: 75%;
    float: right;
}


.app-header {
    display: flex;
    justify-content: center;
    /* margin: 20px; */
}

.app-logo {
    height: 150px;
    width: 200px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 20px;

}

.app-header aside {
    padding: 20px;
    margin: 1rem;
}

.app-container {
    text-align: center;

}

.coffee-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.menu-button {
    all: unset;
    cursor: pointer;
    padding: 10px;
    margin: 10px; 
    border-bottom: 2px solid aliceblue;;
}

.menu-button:hover {
    background-color: aliceblue;
}

.search-input {
    margin-bottom: 1rem;
    width: 40%;
    /* height: 30px; */
    border: 1px solid grey;
    border-radius: 10px;
    padding: 12px 20px 12px 40px;
}

.search-input:focus {
    background-color: aliceblue;
}

.coffee-card {
    width: 300px;
    height: 300px;
    margin: 15px;
    padding: 30px 10px 10px 10px;
    text-align: center;
}

.coffee-card:hover {
    background-color: aliceblue;
}

.coffee-card-image {
    width: 200px;
    height: 200px;
}